<div layout="column" ng-controller="tab" ng-init="tab_init()">
    <md-card>
        <md-toolbar class="md-table-toolbar md-default">
            <div class="md-toolbar-tools">
                <span>Розрахункові листки11</span>
                <div flex></div>


            </div>
        </md-toolbar>
        <md-content layout-padding>
            <md-dialog-content>
                <md-content layout-gt-sm="row" layout-padding>

                </md-content>
            </md-dialog-content>
        </md-content>
    </md-card>


</div>