table, th, td {
    border-collapse: collapse;
    border: 1px solid black !important;
}

.md-table {
    margin-top: 0 !important;
}

thead {
    visibility: visible !important;
    border-collapse: collapse;
}

@page {
    size: auto;   /* auto is the initial value */
    margin: 0mm;  /* this affects the margin in the printer settings */
}

html {
    background-color: #FFFFFF;
    margin: 0px; /* this affects the margin on the html before sending to printer */
}

body {
    border: solid 1px #ffffff;
    margin: 10mm 15mm 10mm 15mm; /* margin you want for the content */
}