<!DOCTYPE html>
<html lang="en" ng-app="BlankApp" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.2.2/angular-material.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Відновлення паролю</title>
</head>
<body ng-cloak ng-controller="MainCtrl">
<div layout="column" layout-align="center center" layout-fill="layout-fill">

    <div layout="column" class="md-whiteframe-24dp" style="max-width: 90%; width: 600px">
        <md-toolbar>
            <h2 class="md-toolbar-tools"><span>Відновлення паролю</span></h2>
        </md-toolbar>
        <md-content layout="column" class="md-padding" ng-show="success">
            <div layout="column" layout-align="center center">
                <md-input-container>
                    <h1 class="md-title" style="color: green">Перевірте електронну пошту та перейдіть за посиланням для відновлення пароля </h1>
                </md-input-container>
                <md-input-container>
                    <md-button th:href="@{/}" class="md-raised md-primary">закрити сторінку</md-button>
                </md-input-container>
            </div>
        </md-content>

        <md-content layout="column" class="md-padding" ng-show="!success">

            <md-input-container>
                <label>Електронна пошта</label>
                <input required type="text" ng-model="email"/>
                <div ng-messages="loginForm.username.$error">
                    <div ng-message="required">Це потрібно.</div>
                </div>
            </md-input-container>

            <md-input-container>
                <label>Табельний номер</label>
                <input required type="text" ng-model="tab_n"/>
                <div ng-messages="loginForm.tab_n.$error">
                    <div ng-message="required">Це потрібно.</div>
                </div>
            </md-input-container>

            <div layout="row" layout-align="center center" style="margin: 18px 0; color: red">
                {{alert}}
            </div>

            <div layout="row" layout-align="center center">
                <md-button type="submit" class="md-raised md-primary" ng-click="do()" ng-show="!activated">відновити
                    пароль
                </md-button>
                <div flex="20" layout="row" layout-sm="column" layout-align="space-around" ng-show="activated">
                    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                </div>
                <div flex="flex"></div>
                <md-button th:href="@{/}" md-no-ink style="color: var(--gm-colortextbutton-ink-color,#1a73e8);">
                    Відміна
                </md-button>
            </div>

        </md-content>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-messages.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.2.2/angular-material.min.js"></script>
<script>
    var app = angular.module('BlankApp', ['ngMaterial', 'ngMessages']);

    app.controller('MainCtrl', function ($scope, $http) {

        $scope.activated = false;
        $scope.success = false;

        $scope.do = function () {
            $scope.activated = true;
            $scope.alert = '';
            $http({
                url: 'resetPassword',
                method: "POST",
                data: {
                    email: $scope.email,
                    tab_n: $scope.tab_n
                }
            })
                .then(function (response) {
                        if (response.data.message === "success") {
                            $scope.success = true;
                        }
                        $scope.activated = false;
                    },
                    function (response) {
                        $scope.alert = response.data.error;
                        $scope.activated = false;
                    });
        };

    });
</script>
</body>

</html>